h2, #add-post-it-button, fieldset, .card-container, .post-it, .extra-info-list {
    margin: 10px;
}

fieldset {
    width: 500px;
}

.card-container, .post-it {
    width: 254px;
}

#description {
    height: 243px;
}

.note-input {
    display: flex;
    flex-direction: row;
}

#note-item {
    width: 100%;
}

.col-lg-offset-2 button {
    float: right;
    margin-left: 10px;
}

#add-note-button {
    margin-left: 5px;
}

.label-color {
    display: inline-flex;
    background: pink;
    width: 42px;
    height: 8px;
    line-height: 75pt;
    border-radius: 3px;
    margin: 0 3px 3px 0;
}

ul {
    list-style: disc;
}

.note-container .panel-body {
    background: #ffffff;
    border-radius: 4px;
}

.note-container-body .list-group, #note-label {
    margin-bottom: 0;
}

.note-list {
    margin-top: 10px;
}

.note span {
    background-color: #cc0000;
}

.note {
    background-color: #ffffff;
}