.note-container {
    margin: 10px;
}

.form-horizontal {
    width: 500px;
    margin: 10px;
}

#description {
    margin: 0 -0.667614px 0 0;
    height: 243px;
}

.col-lg-offset-2 button {
    float: right;
    margin-left: 10px;
}

.note-container button {
    margin-left: 7px;
}

.post-it {
    width: 254px;
}

.label-color {
    display: inline-flex;
    background: yellow;
    width: 42px;
    height: 8px;
    line-height: 75pt;
    border-radius: 3px;
    margin: 0 3px 3px 0;
}

.body {
    margin-top: 2em;
}
