h1 {
    margin-left: 15px;
}

.note-container {
    margin: 10px;
}

.form-horizontal {
    width: 500px;
    margin: 10px;
}

#description {
    margin: 0 -0.667614px 0 0;
    height: 243px;
}

.col-lg-offset-2 button {
    float: right;
    margin-left: 10px;
}

.note-container button {
    margin-left: 7px;
}

.post-it {
    width: 254px;
    display: flex;
    flex-direction: row;
    flext-wrap: wrap;
}

.body {
    margin-top: 2em;
}

.note-input {
    display: flex;
    flex-direction: row;
}

#note-item {
    width: 100%;
}

.col-lg-offset-2 button {
    margin-left: 5px;
}

#add-note-button {
    margin-left: 5px;
}

ul {
    list-style: disc;
}

.note-container-body .list-group, #note-label {
    margin-bottom: 0;
}

.note-list {
    margin-top: 10px;
}

.note span {
    background-color: #cc0000;
}

.note, #note-form .form-control {
    background-color: #ffffff;
}

.form-button {
    width: 530px;
    display: inline-flex;
    justify-content: flex-end;
}

.panel-body {
    width: 238px;
    margin-bottom: 7px;
}

.post-its-container {
    background-color: #151515;
    padding: 15px;
}

#add-post-it-button {
    margin: 7px 15px;
}

p{
    word-break: break-all;
}

